<!DOCTYPE html>
<html lang="es" ng-app="studentApp">
<head>
    <meta charset="UTF-8">
    <title>Libreta de Alumnos</title>
    <link href="../cursoDeAngularJsJesusConde/css/style.css" rel="stylesheet"/>
</head>
<body ng-controller="ControllerStudent">
    <h1>
        Libreta de Alumnos
    </h1>

    <section>
        <div class="contact-item" ng-repeat="student in arrayStudents | orderBy: 'course' ">
            <div class="name">
                {{student.name}} - {{student.phone}}
            </div>
            <span class="course">
                {{student.course}}
            </span>
        </div>
        
    </section>
    <p></p>
    <section>
        <h2>Añadir un Contacto</h2>
        Nombre: <input type="text" ng-model="newStudent.name"/>
        <p></p>
        Telefono: <input type="text" ng-model="newStudent.phone"/>
        <p></p>
        Curso: <input type="text" ng-model="newStudent.course"/>
        <p></p>
        <button ng-click="saveStudent()">Guardar</button>

    </section>

    
    
    <script src="../cursoDeAngularJsJesusConde/angular/angular.js"></script>
    <script src="../cursoDeAngularJsJesusConde/js/StudenController.js"></script>

</body>
</html>